doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='referrer' content='origin')
    meta(name='theme-color' content='#0f0f0f')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    //- link(href='https://fonts.googleapis.com/css?family=Poppins|Roboto' rel='stylesheet')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css")

    script(src='https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:100,300,400,700,900' rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css' rel='stylesheet' type='text/css')
    script(href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js')
    //- link(rel='stylesheet' href='/stylesheets/main.css')
    //- link(rel='stylesheet' href='/stylesheets/table.css')
    //- script(type='text/javascript').
    //-   let time = Date.now()
  body
    include navbar

    block content



//- - if (typeof(cssTwo) !== 'undefined'){
//-   link(rel='stylesheet', href=`/stylesheets/${cssTwo}`)
//- -}
//- link(rel='stylesheet', href=`/stylesheets/${cssOne}`)